
    <div class="row-fluid">
      <div class="span12">
        <img src="img/gildan_front_male.jpg" class="offset3 img-polaroid">
        <img src="img/gildan_back_male.jpg" class="img-polaroid">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <h2 class="featurette-heading">Hoodie #4</h2>
      </div>
      <div class="row-fluid">
        <div class="span8">
        <h2>Gildan (18700) <span class="muted">Classic Fit, Vintage Classic</span></h2>
        <p class="lead">This hoodie is a heavier-weight (8.0 oz) with a classic fit (more roomy than relaxed). Perfect for being comfy and cozy! This hoodie runs large and includes a 3XL size option.</p>
        <p class="lead"><strong>Price: $28</strong></p>

      </div>
 

<div class="span4">
  <div class="btn-group" id="school-logo">
    <button class="btn">Choose Your Logo</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu">
    <li><a class="active" tabindex="-1" href="#">Portland Code School</a></li>
    <li><a tabindex="-1" href="#">Code Scouts</a></li>
    <li><a tabindex="-1" href="#">PDX.rb</a></li>
    <li><a tabindex="-1" href="#">Stumptown Syndicate</a></li>
  </ul>
</div>
</div> <!-- second span -->
<div class="span4">  
 <br />
 <br />
 <div class="btn-group" id="size">
  <button class="btn">Choose Your Size</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="active" tabindex="-1" href="#">X-Small</a></li>
    <li><a tabindex="-1" href="#">Small</a></li>
    <li><a tabindex="-1" href="#">Medium</a></li>
    <li><a tabindex="-1" href="#">Large</a></li>
    <li><a tabindex="-1" href="#">X-Large</a></li>
    <li><a tabindex="-1" href="#">XX-Large</a></li>
  </ul>
</div>
</div>
<div class="span4">  
  <br />
  <br />
  <div class="btn-group" id="quantity">
    <button class="btn">Quantity</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="active" tabindex="-1" href="#">1</a></li>
      <li><a tabindex="-1" href="#">2</a></li>
      <li><a tabindex="-1" href="#">3</a></li>
      <li><a tabindex="-1" href="#">4</a></li>
      <li><a tabindex="-1" href="#">5</a></li>
      <li><a tabindex="-1" href="#">6</a></li>
      <li><a tabindex="-1" href="#">7</a></li>
      <li><a tabindex="-1" href="#">8</a></li>
      <li><a tabindex="-1" href="#">9</a></li>
      <li><a tabindex="-1" href="#">10</a></li>
    </ul>
  </div>
</div>
<div class="span4">
  <br />
  <br />
  <form method="post" action="/order_review" id="order_form">
    <input name="order[quantity]" type="hidden" id="order_quantity" value="">
    <input name="order[size]" type="hidden" id="order_size" value="">
    <input name="order[logo]" type="hidden" id="order_logo" value="">
    <input name="order[style]" type="hidden" id="order_style" value="Gildan (18700)">
    <input name="order[image]" type="hidden" id="order_image" value='"img/gildan_front_male.jpg"'>
  <div class="btn-group" >
    <a class="addtocart" href="order_review"><button id="submit" class="btn">
      Add To Shopping Cart
    </button></a>
  </div>
</div>
<div class="span4">
  <br />
  <br />
  <div class="btn-group" >
    <a class="back" href="/"><button id="submit" class="btn-fix btn btn-info">
     Go Back
   </button></a>
  </div>
</div>
   </div>









        <h3>Fiber Content</h3>
        <ul>
          <li>50% Cotton</li>
          <li>50% Polyester</li>
        </ul>

        <h3>Measurements</h3>
        <p><em>Chest measurement is 1 inch below the arm hole across the front. Multiply by 2 for full circumference measurement.</em></p>
        <table class="table table-striped span4">
          <tr>
            <td><strong>Size</strong></td>
            <td><strong>Chest</strong></td>
            <td><strong>Length</strong></td>
          </tr>
          <tr>
            <td>S</td>
            <td>19 1/4</td>
            <td>26</td>
          </tr>
          <tr>
            <td>M</td>
            <td>21 1/4</td>
            <td>27</td>
          </tr>
          <tr>
            <td>L</td>
            <td>23 1/4</td>
            <td>28</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>25 1/4</td>
            <td>29</td>
          </tr>
          <tr>
            <td>2XL</td>
            <td>27 1/4</td>
            <td>30</td>
          </tr> 
           <tr>
            <td>3XL</td>
            <td>29 1/4</td>
            <td>31</td>
          </tr> 
           <tr>
            <td>Tol.</td>
            <td>+/- 0.75</td>
            <td>+/- 1</td>
          </tr> 
        </table>
      </div>
   


   


