<div class="container" id="top">
  <form>
   <div class="masthead">
    <div class="row">
      <a href="/#hoodies" class="btn btn-large btn-info">« Back to Shopping</a>
      <div>
        <h2 class="span6">Please Review Your Order</h2>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="span2">
        <img style="height: 240px;" src="img/placekitten.jpg" class="img-polaroid">
      </div>
        <table class="table table-striped span5 lead">
          <tr>
            <td class="pull-right"><strong>Date</strong></td>
            <td>"Date & Time Stamp"</td>
          </tr>
          <tr>
            <td class="pull-right"><strong>Style</strong></td>
            <td>"Name of product style & #"</td>
          </tr>
          <tr>
            <td class="pull-right"><strong>Size</strong></td>
            <td><%=@size%></td>
          </tr>
          <tr>
            <td class="pull-right"><strong>Qty</strong></td>
            <td>"Order quantity"</td>
          </tr>
          <tr>
            <td class="pull-right"><strong>Color</strong></td>
            <td>Grey/heather gray</td>
          </tr>
          <tr>
            <td class="pull-right"><strong>Logo</strong></td>
            <td id="logord"><%=@logo%></td>
          </tr>
        </table>
    </div>
    <div class="row">
      <dl class="dl-horizontal span3 offset2">
        <dt class="lead">Order Subtotal:</dt>
        <dd class="well well-small">
          $0.00
        </dd>
      </dl>
    </div>
    <h3>Shipping Options</h3>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Order Delivery Info:</strong> The estimated delivery time is two weeks. You will receive an email notification when your order is received with a pick-up or shipping date.
    </div>
    <p>You can pick up your order when it's ready at iconartistry in Portland and not pay any shipping. If you need your order to be shipped to you, select the shipping option below.</p>
    <div class="row">
      <div>
        <address class="text-left span2">
          <h4>Pick-up Location</h4>
          <strong>iconartistry</strong><br>
          # & St. Name<br>
          Portland, OR 97???<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="span6">
        <label class="radio lead">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          I will pick up my order when it's ready
        </label>
        <label class="radio lead">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          I need to have my order shipped to me
        </label>
      </div>
    </div>
    <div>
      <br>
      <dl class="dl-horizontal span6">
        <dt class="lead">Shipping Total:</dt>
        <dd>
          <div class="well well-small">
            $0.00
          </div>
        </dd>
        <dt class="lead">Paypal fee:</dt>
        <dd>
          <div class="well well-small">
            $0.00
          </div>
        </dd>
        <dt class="lead">Total:</dt>
        <dd>
          <div class="well well-small">
            $0.00
          </div>
        </dd>
        <div class="text-left">
          <h3>Contact info</h3>
          <p>Please enter your email address here so we can notify you about your order.</p>
          <input class="input-xlarge" type="text" placeholder="Email Address">
        </div>
      </dl>
    </div>
    <div class="row span6">
      <a href="/#hoodies" class="btn btn-large btn-info">« Back to Shopping</a>-->
      <script src="js/paypal-button.min.js?merchant=rebecca.loiselle-facilitator@gmail.com"
          data-button="buynow"
          data-name="hoodie"
          data-callback="http://58hb.localtunnel.com"
          data-return="http://58hb.localtunnel.com"
          data-env="sandbox"
      ></script>
    </div>
   </div>
  </form>
  </div>
  <div class="footer">
    <p>© Company 2013</p>
  </div>
</div>