<div class="row-fluid">
	<div class="span12">
		<table class="table table-hover">
			<tr>
				<th>Order ID</th>
				<th>Logo</th>
				<th>Hoodie Style</th>
				<th>Size</th>
				<th>Quantity</th>
				<th>Email</th>
				<th>Created</th>
			</tr>
			<tr>

				<%= @orders %>
				
		<!-- 		# puts order.id
				# puts order.logo
				# puts order.hoodie_style -->
			<!-- 	end %> -->
			</tr>	
		</table>
	</div>




</div>