<div>
  <br>
  <br>
  <div class="row">
    <div>
      <h1 class="span6">Thank You for Your Order!</h1>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <dl class="dl-horizontal">
        <dt><h4>Order Delivery Info</h4></dt>
        <dd class="lead">The estimated delivery time is two weeks. You will receive an email notification when your order is received with a pick-up or shipping date.</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="span1 offset1">
      <br>
      <div class="shareBtn"><a href=" "><img src="img/facebook_logo.gif" class="img-rounded"></a>Share</div>
      <br>
      <div class="shareBtn"><a href=" "><img src="img/twitter_logo.gif" class="img-rounded"></a>Tweet</div>
    </div>
    <p></p>
    <div class="span7">
      <h3><span class="muted">Tell Your Friends and</span> help raise more donations <span class="muted"> for Code Scouts & Stumptown Syndicate!</span></h3>
      <p class="lead">Share & tweet about The Awesome Hoodie Project to help spread the word and raise more donations for two great community education nonprofits!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span11">
      <h1>Your hoodie or t-shirt is doing good for the community!</h1>
      <p class="lead">A portion of your purchase will be donated to <a href="http://codescouts.org/">Code Scouts</a> & <a href="http://stumptownsyndicate.org/">Stumptown Syndicate</a> to support coding education and community events! But it doesn't stop here, you can get involved, make donations directly, & help these programs grow! Visit their sites and find out more.</p>
    </div>
  </div>
  <div class="row">
    <div class="span3" style="text-align: center;">
      <br>
      <br>
      <div><a href="http://codescouts.org/about.html"><img src="img/code_scouts.png" class="img-rounded"></a></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div><a href="http://stumptownsyndicate.org/"><img style="width: 200px;" src="img/syndicate.png" class="img-rounded"></a></div>
    </div>
    <div class="span7">
      <h3><span class="muted">Learn more about</span> Code Scouts</h3>
      <p class="lead">Code Scouts is an Oregon Nonprofit startup founded in 2012 with the mission to empower women to become software developers. Code Scouts builds local communities of aspiring developers who create customized learning plans with mentors, using existing learning resources to hone their skills alongside other learners.</p>
      <a href="http://codescouts.org/about.html">
        <div class="btn btn-info">Learn more »</div>
      </a>
    </div>
    <div class="span7">
      <br>
      <h3><span class="muted">Learn more about</span> Stumptown Syndicate</h3>
      <p class="lead">The mission of Stumptown Syndicate is to create resilient, radically inclusive tech and maker communities that empower positive change. All Stumptown Syndicate programs are volunteer-run, community-oriented, peer-to-peer learning events. Stumptown Syndicate hosts events whose intended audience ranges from those with no technical knowledge, to those who work with technology professionally.</p>
      <a href="http://stumptownsyndicate.org/">
        <div class="btn btn-info">Learn more »</div>
      </a>
    </div>
    <br>
    <br>
    <div>
      <a href="/#hoodies" class="btn">« Back to Shopping</a>
    </div>
  </div>
</div>
<div class="footer">
  <!-- <p>© Company 2013</p> -->
</div>