<div class="row-fluid">
  <div class="span12">
    <img class="offset1" src="img/placekitten.jpg" class="img-polaroid">
    <img src="img/placekitten.jpg" class="img-polaroid">
    <img src="img/placekitten.jpg" class="img-polaroid">
    <img src="img/placekitten.jpg" class="img-polaroid">
  </div>
<div class="row-fluid">
  <div class="span8">
<h2 class="featurette-heading">T-Shirt #1</h2>
</div>
<div class="row-fluid">
  <div class="span8">
  <h2>Brand Name (product #) <span class="muted">Style Name Here</span></h2>
  <p class="lead">Yes, we know it's not a hoodie, but it's still awesome. **Something about the fit & style here.</p>
  <p class="lead"><strong>Price: $??</strong></p>
</div>

<div class="span4">
  <div class="btn-group" id="school-logo">
    <button class="btn">Choose Your Logo</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu">
    <li><a class="active" tabindex="-1" href="#">Portland Code School</a></li>
    <li><a tabindex="-1" href="#">Code Scouts</a></li>
    <li><a tabindex="-1" href="#">PDX.rb</a></li>
    <li><a tabindex="-1" href="#">Stumptown Syndicate</a></li>
  </ul>
</div>
</div> <!-- second span -->
<div class="span4">  
 <br />
 <br />
 <div class="btn-group" id="size">
  <button class="btn">Choose Your Size</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="active" tabindex="-1" href="#">X-Small</a></li>
    <li><a tabindex="-1" href="#">Small</a></li>
    <li><a tabindex="-1" href="#">Medium</a></li>
    <li><a tabindex="-1" href="#">Large</a></li>
    <li><a tabindex="-1" href="#">X-Large</a></li>
    <li><a tabindex="-1" href="#">XX-Large</a></li>
  </ul>
</div>
</div>
<div class="span4">  
  <br />
  <br />
  <div class="btn-group" id="quantity">
    <button class="btn">Quantity</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="active" tabindex="-1" href="#">1</a></li>
      <li><a tabindex="-1" href="#">2</a></li>
      <li><a tabindex="-1" href="#">3</a></li>
      <li><a tabindex="-1" href="#">4</a></li>
      <li><a tabindex="-1" href="#">5</a></li>
      <li><a tabindex="-1" href="#">6</a></li>
      <li><a tabindex="-1" href="#">7</a></li>
      <li><a tabindex="-1" href="#">8</a></li>
      <li><a tabindex="-1" href="#">9</a></li>
      <li><a tabindex="-1" href="#">10</a></li>
    </ul>
  </div>
</div>
<div class="span4">
  <br />
  <br />
  <div class="btn-group" >
    <button id="submit" class="btn">
      Add To Shopping Cart
    </button>
  </div>
</div>
<div class="span4">
  <br />
  <br />
  <div class="btn-group" >
    <a class="back" href="/"><button id="submit" class="btn btn-info">
     Go Back
   </button></a>
  </div>
</div>
   </div>









        <h3>Fiber Content</h3>
        <ul>
          <li>50% polyester</li>
          <li>25% combed and ring-spun cotton</li>
          <li>25% rayon</li>
        </ul>

        <h3>Measurements</h3>
        <p><em>Chest measurement is 1 inch below the arm hole across the front. Multiply by 2 for full circumference measurement.</em></p>
        <table class="table table-striped span4">
          <tr>
            <td><strong>Size</strong></td>
            <td><strong>Chest</strong></td>
            <td><strong>Length</strong></td>
          </tr>
          <tr>
            <td>XS</td>
            <td>14 1⁄4</td>
            <td>24 5⁄8</td>
          </tr>
          <tr>
            <td>S</td>
            <td>15 3⁄4</td>
            <td>25 1⁄2</td>
          </tr>
          <tr>
            <td>M</td>
            <td>18 1⁄4</td>
            <td>26 7⁄8</td>
          </tr>
          <tr>
            <td>L</td>
            <td>20 1⁄4</td>
            <td>28</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>22 1⁄4</td>
            <td>29 1/2</td>
          </tr>
          <tr>
            <td>2XL</td>
            <td>24 1⁄4</td>
            <td>30 1/4</td>
          </tr> 
        </table>
      </div>